*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', 'sans-serif';
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h2{
    color: #263a5a;
    font-size: 2.5rem;
    text-transform: uppercase;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1.5rem;   
}
header{
    position: relative;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #263a5a;
    box-shadow: 0 0 0.6rem #263a5a;
}
h3{
    color: #263a5a;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.sidepanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 2.5rem;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Black And White Picture', sans-serif;
}
.sidepanel .menu{
    border: 0.1rem solid #ffffff;
    border-radius: 0.3rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.sidepanel .dropdown-menu{
    position: absolute;
    top: 6rem;
    left: 0;
    background: #263a5a;
    width: 100%;
    height: 0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .3s ease-in-out;
}
.dropdown-menu.open{
    height: 11.5rem;
    overflow: visible;
}
.profile{
    padding: 2rem 0;
    transition: .3s ease-in-out;
}
.profile.down{
    margin-top: 11.5rem;    
}
.dropdown-menu li{
    padding: 0 1.5rem;
    width: 100%;
    border-bottom: 0.1rem solid #f1f1f1;
    overflow: hidden;
}
.dropdown-menu li:hover{
    background: #375585;
}
.dropdown-menu a{
    font-size: 1.6rem;
    color: #ffffff; 
    display: block;
    width: 100%; 
    text-transform: uppercase; 
    cursor: pointer; 
    padding: 1rem 0;
}
.card{
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #375585;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
.card .card-header{
    text-align: left;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #375585;
}
.card .image-container{
    padding: 2rem 0;
}
.card .recipe-image{
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
}
.card .recipe-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;
}
.card-body .form-group{
    margin: 1rem 0;
}
.card-body label{
    font-size: 1.3rem;
    color: #375585;
}
.card-body .col{
    margin-top: 0.5rem;
}
.card-body input{
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #375585;
    border-radius: .3rem;
    color: #666666;
}
.card-body textarea{
    width: 100%;
    height: 10rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #375585;
    border-radius: .3rem;
    color: #666666;
}
.card-body .checkbox{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
}
.card-body .label-checkbox{
    margin-right: 1rem;
}
.card-body .checkbox-input{
    width: 1.5rem;
    height: 1.5rem;
}
.card-body .buttons{
    margin-top: 2rem;
}
.card-body .btn{
    border: none;
    font-size: 1rem !important;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    display: inline-block;
    color: #ffffff;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}
.card-body .btn-primary{
    background: #263a5a;
}
.card-body .btn-primary:hover{
    background: #375585;
}
.card-body .btn-danger{
    background: #e02f2f;
}
.card-body .btn-danger:hover{
    background: #ca4a4a;
}
table{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    font-size: 1rem;
    color: #263a5a;
    border-radius: .3rem .3rem 0 0;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0.1rem 0.1rem #375585;
}
table th{
    background: #375585;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
}
table th,td{
    padding: 1rem 0.5rem;
}
table tr:nth-child(odd){
    background: #f1f1f1;
}
.alert-message{
    color: #ffffff;
    background: #263a5a;
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}
.invalid-feedback{
    display: inline-block;
    color: #e02f2f;
    font-size: 1rem;
    margin: 0.5rem 0;
}
@media screen and (min-width: 850px){
    .sidepanel .menu{
        display: none;
    }
    header{
        position: fixed;
        height: 100vh;
        width: 20rem;
        display: initial;
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;
        text-align: center;
    }
    header .container{
        padding: 0;
    }
    .sidepanel{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: initial;
    }
    .sidepanel .dropdown-menu{
        position: initial;
        top: initial;
        left: initial;
        background: none;
        width: initial;
        height: initial;
        overflow: visible;
        display: initial;
        flex-direction: initial;
        align-items: initial;
        text-align: initial;
        transition: none;
        padding-top: 10rem;
    }
    .dropdown-menu a{
        font-size: 1.8rem;
    }
    .profile{
        margin-left: 20rem;
        padding: 5rem 0;
        transition: none;
    }
    .logo{      
        border-bottom: 0.2rem solid #f1f1f1;
    }
    .logo a{
        font-size: 3rem;
        display: block;
        padding: 2rem 0;
    }
    .invalid-feedback{
        font-size: 1.2rem;
    }
    .card{
        max-width: 80rem;
        padding: 1rem 2rem;
    }
    .card-body form{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 1rem;
    }
    .card-body .admin-form{
        display: flex;
        flex-direction: column;
    }
    .card-body .image-container{
        width: 40%;
    }
    .card-body .input{
        width: 60%;
    }
    .card-body label{
        font-size: 1.4rem;
    }
    .card-body input,
    .card-body textarea{
        font-size: 1.3rem;
    }
    .card-body .checkbox-input{
        width: 1.8rem;
        height: 1.8rem;
    }
    .card-body .btn{
        font-size: 1.2rem !important;
    }
    table{
        font-size: 1.2rem;
    }
    table th{
        font-size: 1.4rem;
    }
}